<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	
	<key>CFBundleExecutable</key>
	<string>ExpressionEngine</string>
	
	<key>CFBundleIdentifier</key>
	<string>anthonyshort.Espresso.Sugar.ExpressionEngine</string>
	
	<key>CFBundleInfoDictionaryVersion</key>
	<string>1.0</string>
	
	<key>CFBundleName</key>
	<string>ExpressionEngine</string>
	
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	
	<key>CFBundleSignature</key>
	<string>????</string>
	
	<key>CFBundleVersion</key>
	<string>1.0.1</string>
	
	<key>LSHasLocalizedDisplayName</key>
	<false/>
	
	<key>NSAppleScriptEnabled</key>
	<false/>
	
	<key>NSHumanReadableCopyright</key>
	<string>(c) 2009 Anthony Short under the New BSD license</string>
	
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	
	<key>NSPrincipalClass</key>
	<string>TEAforEspresso</string>
	
</dict>
</plist>
